.reporter {
  .attempts {
    .attempt-item > .collapsible > .collapsible-header-wrapper {
      display: none;
    }

    &.has-multiple-attempts .attempt-item {
      > .collapsible > .collapsible-header-wrapper {
        display: flex;
      }

      &:not(:first-child) {
        > .collapsible .attempt-name:before {
          border-left: 1px dotted $gray-800;
          content: "";
          left: 13px;
          position: absolute;
          top: 0;
          height: 8px;
          z-index: 1;
        }
      }
      > .collapsible .attempt-name {
        &:after {
          border-left: 1px dotted $gray-800;
          content: "";
          left: 13px;
          position: absolute;
          bottom: 0;
          height: 8px;
          z-index: 1;
        }
      }
    }
  }

  .attempt-error-region {
    margin: 0 8px;
  }

  .attempt-item {
    > .collapsible {
      position: relative;

      .collapsible-header-inner {
        outline: none;
        display: flex;
        align-items: center;
        width: 100%;
      }

      // &.is-open:before {
      //   display: none;
      // }
    }

    // &:last-child > .collapsible:before {
    //   display: none;
    // }

    > .is-open .open-close-indicator {
      svg.collapse-icon {
        display: block;
      }

      svg.expand-icon {
        display: none;
      }
    }

    .open-close-indicator {
      svg {
        margin-right: 3px;

        &.collapse-icon {
          display: none;
        }

        &.expand-icon {
          display: block;
        }
      }
    }

    .attempt-content {
      display: flex;

      > div {
        width: 100%;
      }
    }

    &:not(:last-child) .attempt-name {
      border-bottom: 1px solid $gray-900;
    }
  }

  .attempt-name {
    display: flex;
    position: relative;
    width: 100%;

    .collapsible-header {
      width: 100%;
    }

    .attempt-tag {
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      gap: 8px;
      width: 100%;
      padding: 8px 10px;
      position: relative;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: $gray-1100;
      }
      .attempt-tag-text {
        flex-grow: 1;
      }
    }

    .collapsible-more {
      display: none;
    }

    .attempt-tag > .attempt-state {
      margin-left: 3px;
      margin-right: 0;
    }
  }
}
