$color-transition: color 150ms ease-out;

.reporter {
  .spec-container {
    background-color: $gray-1100;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 13px;
    font-family: $font-system;
    min-height: $header-height;
    outline: 0;
    overflow: hidden;
    padding: 16px;
    width: 100%;
    z-index: 1;

    .spacer {
      flex-grow: 2;
    }

    // TODO: check the impact of removing this
    // button {
    //   background-color: transparent;
    //   border-color: transparent;
    //   border-radius: 0;
    //   display: inline-block;
    //   font-weight: 300;
    //   line-height: 26px;
    //   outline: 0;
    //   padding: 0 8px;
    //   text-align: center;

    //   &:hover {
    //     background-color: $gray-900;
    //   }

    //   &[disabled],
    //   &[disabled]:hover,
    //   &[disabled]:active {
    //     background: none;
    //     box-shadow: none;
    //     color: $gray-500;
    //   }
    // }
  }

  .statsAndControls {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 16px;
    border: 1px solid #2E3247;
  }

  .stats {
    align-items: center;
    border: 1px solid $gray-900;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    height: 24px;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      list-style-type: none;
      padding: 2px 8px;
      gap: 4px;
      line-height: 20px;

      .num {
        color: $gray-400;

        &.empty {
          color: $gray-800;
        }
      }
    }
  }

  .controls {
    align-items: center;
    border: 1px solid $gray-900;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 24px;

    .testing-preferences-toggle {
      border-left: none;
      color: $gray-700;
      margin-left: 0;

      &.open {
        background-color: $gray-900;
        color: $white;
      }
    }

    span {
      height: 100%;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $gray-400;
        width: 31px;
        padding: 0px;
        border-left: 1px solid $gray-900;
        margin-left: -1px;
      }
    }
  }

  .runnable-header {
    @include inner-header;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    position: unset;
    line-height: 20px;
    min-width: 0;
    align-items: center;
    flex: 1;


    >*:first-child {
      flex: 1;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span>span>a>svg {
      margin-bottom: -2px;
      margin-right: 8px;
    }

    a,
    a:active,
    a:focus,
    a:hover {
      color: $gray-500;
      font-weight: 300;

      strong {
        color: $white;
        font-weight: 500;
      }
    }

    .duration {
      border: 1px solid $gray-900;
      border-radius: 18px;
      color: $gray-400;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      padding: 0 8px;
      font-variant-numeric: tabular-nums;
    }
  }

  .toggle-specs-wrapper {
    .toggle-specs-button {
      padding: 0;
      width: 32px;
      justify-content: center;
      color: $gray-500;
    }
  }
}